<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>item詳細画面</title>
</head>
<body>
    <h1>item詳細画面</h1>
    <a th:href="@{/}" href="../AA0101/index.html">メニュー画面へ</a>
    <div>
        <div>
            <span style="display: inline-block;width: 100px;">ID</span>
            <span th:text="${item.id}" >1</span>
        </div>

        <div>
            <span style="display: inline-block;width: 100px;">ITEM NAME</span>
            <span th:text="${item.itemName}" >ノート</span>
        </div>

        <div>
            <span style="display: inline-block;width: 100px;">PRICE</span>
            <span th:text="${#numbers.formatInteger(item.price,1,'COMMA')}" >3,000</span>
        </div>

        <div>
            <span style="display: inline-block;width: 100px;">分類</span>
            <span th:text="${@itemRegistViewHelper.getGroupName(item.groupid)}" >文具</span>
        </div>

        <div>
            <span style="display: inline-block;width: 100px;">登録日</span>
            <span th:text="${#temporals.format(item.registDate, 'uuuu/MM/dd')}">2023/06/01/</span>
        </div>
        
        <input type="hidden" name="versionNo" th:value="${item.versionNo}" />
        <a th:href="@{/WBA0201/search}" href="../BA0201/search.html">戻る</a>
    </div>
    
</body>
</html>